:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    background: url('/assets/legend-of-lanky-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    font-family: 'Noto Sans Mono', monospace;
    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

#lanky-stats {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    float: left;
    font-size: 2em;
}

#enemy-stats {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    float: right;
    font-size: 25px;
}

#enemy-stats form {
    display: flex;
    border: black solid 3px;
    background-color: grey;
    color: rgb(255, 255, 255);
    align-items: center;
    gap: 15px;
}

#lanky {
    max-width: 200px;
    border: solid black 10px;
}

.bat {
    display: flex;
    width: auto;
    height: 100px;
    gap: 25px;
    border: solid black 5px;
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    background-color: wheat;
}

.dead {
    transform: scaleY(-1);
}
.bat img {
    height: 50px;
}

.enemies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
